body {
  overflow: hidden;
  margin: 0;
  padding: 0;

  font-family: "Microsoft Yahei";
}

* {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}

#main {
  width: 800px;
  margin: 0 auto;
  height: 600px;
  background: #fd4e53;
  overflow: hidden;
  padding-top: 50px;
}

#main .logo {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

#main h3 {
  color: #fff;
  text-align: center;
  font-size: 22px;
}

#main button {
  border-radius: 4px;
  width: 120px;
  height: 34px;
  outline: none;
  border: none;
  background: #fff;
  color: #fd4e53;
  font-size: 16px;
  display: block;
  font-weight: 600;
  cursor: pointer;
  margin: 0 auto;
}

#main button:active{
  background: #eee;
}

#clock {
  height: 200px;
  width: 200px;
}